*{
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}
body{
  overflow-x: hidden;
}

.swiper-container{
  position: relative;
  transition: .3s ease all;
  height: 116px;
  
}
.swiper-container .swiper-button-next{
  position: absolute;
}
.swiper-slide{
  border-radius: 3px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  position: relative;
}

.swiper-slide img{
  display: block;
}
.teste{
  border: black 2px solid;
  height: 150px!important;
  overflow: visible;
}
#interna{
  background-color:  rgb(24,24,24);
  border-radius: 0 0 12px 12px;
  transition: all .2s ease;
  color: white;
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: 100;
  width: 1500px;
  height: 2000px;
}