*{
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.carrossel{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.box{
  min-width: 196px;
  height: 110px;
  margin-right: 5px;
  border-radius: 12px;
  background-color: #ce8484;
  transition: all .2s ease;
}
.box.active{
  
  height: 300px;
  min-width: 250px;
  position: relative;
}


.box .interna{
  height: 0;
  width: 0;

  background-color:  rgb(24,24,24);
  border-radius: 0 0 12px 12px;
  transition: all .2s ease;
  color: white;
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: -10;
}
.box .interna.active{
  opacity: 1;
  z-index: 1;
  bottom: 0;
  height: 150px;
  width: 250px;
}

